@page {
    size: A4;
}

body {
    margin-top: 0px;
}

section {
    margin-bottom: 1em;
}

#header {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px;
    letter-spacing: 5px;
    font-weight: 200;
}

#header .name {
    text-align: center;
    font-size: xx-large;
    color:black;
}

.picture {
    background-image: url('circle_me_small.jpg');
    background-repeat: no-repeat;
    height: 110px;
    margin-left: 50px;
    margin-top: 50px;
}

#contacts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#contacts div {
    text-align: center;
}

#contacts .header {
    color: #6c757d;
    font-style: italic;
}

h5 {
    color: black;
}

#academic {
    display: grid;
    grid-template-columns: auto 30%;
    grid-column-gap: 10px;
}



.level-1:before {
    content: "\2605\2606\2606\2606\2606";
    position: absolute;
    font-size: large;
    color: #ffc107;
}

.level-2:before {
    content: "\2605\2605\2606\2606\2606";
    position: absolute;
    font-size: large;
    color: #ffc107;
}

.level-3:before {
    content: "\2605\2605\2605\2606\2606";
    position: absolute;
    font-size: large;
    color: #ffc107;
}

.level-4:before {
    content: "\2605\2605\2605\2605\2606";
    position: absolute;
    font-size: large;
    color: #ffc107;
}

.level-5:before {
    content: "\2605\2605\2605\2605\2605";
    position: absolute;
    font-size: large;
    color: #ffc107;
}

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
    .picture {
        background-image: url('') !important;
        width: 0px !important;
    }

    body {
        margin-top: 0px;
    }
}

.list-group-item {
    border-top: 2px solid black;
    margin-top: 5px;
    border-radius: 5px;
}